streamlit>=1.30.0
pandas>=2.0.0
psycopg2-binary
bcrypt
plotly
python-dateutil
PyPDF2
pytesseract
Pillow
pdf2image
pdfplumber
numpy<2.0.0  # Evite o numpy 2.0 por enquanto, causa conflito com muitas libs
opencv-python-headless
sqlalchemy